@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green-button: #48924F;
    --green-texto: #0D4D14;
    --white: #FFFFFF;
    --section-title: #828282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    background-image: url("assets/background_principal.png");
    background-repeat: no-repeat;
}

.principal img {
    width: 500px;
    height: 80px;
    margin-top: 20px;
}

.principal p {
    font-weight: medium;
    background: rgba(0, 0, 0, .5);
    color: var(--white);
    padding: 20px 60px;
    border-radius: 30px;
}

.principal h1 {
    font-weight: 700;
    color: var(--white);
    font-size: 130px;
    line-height: 134px;
    text-align: center;
}

.button {
    color: var(--green-button);
    background-color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.button:hover {
    color: var(--white);
    background-color: var(--green-button);
    cursor: pointer;
}

.primeira-sessao {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title-container {
    position: relative;
    display: inline-block;
}
  
.title-container h2 {
    color: var(--section-title);
    font-size: 50px;
    font-weight: 700;
    position: relative;
}
  
.title-container img {
    position: absolute;
    bottom: -50px;
    right: 135px;
    width: 90px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.cards { 
    width: 300px; 
    min-height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .15);
}

.cards h3 {
    font-weight: 800;
    font-size: 16px;
    color: var(--green-texto);
    margin: 20px 20px 0px 20px;
}

.cards p {
    font-size: 14px;
    color: var(--green-texto);
    margin: 20px 20px 20px 20px;
}

.segunda-sessao { 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title-container-2 {
    margin-top: -60px;
    position: relative;
    display: inline-block;
}

.title-container-2 h2 {
    color: var(--section-title);
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.title-container-2 img {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 90px;
}

.container-cards-2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-image: url(/assets/background-escuro.png);
    padding: 100px;
}

.cards-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-2 p {
    font-size: 18px;
    color: var(--white);
    text-align: center;
}